<div class="py-1 bg-black">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md-3 col-sm-6 pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span>
                        </div> <span class="text"><a routerLink="тел:+359 88 978 5643">+359 88 978 5643</a></span>
                    </div>
                    <div class="col-md-3 col-sm-6 pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center">
                            <span class="icon-paper-plane"></span>
                        </div>
                        <span class="text"> 
                            <a routerLink="mailto:zonamai@abv.bg?subject=Здравейте!g">zonamai@abv.bg</a>
                        </span>
                    </div>
                    <div class="col-md-5 pr-4 topper-long align-items-center text-lg-right">
                        <span class="text">Доставка при наличност - 24 часа</span>
                        <span class="text">При изработка - 10 раб. дни</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>