<nav class="_navbar ftco-navbar-light">
    <div class="nav-container">
        <a routerLink="main" class="navbar-brand">
            <img src="assets/images/logo.jpg" class="navbar-brand-image" alt="logo">
        </a>
        <div class="navbar-navigation">
            <button class="navbar-toggler" type="button" (click)="menuShow()">
                <span class="oi oi-menu"></span>
            </button>
            <div [ngClass]="{'show':isMenuShow}">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item stroke1 nav-elongate">
                        <a routerLink="main" class="nav-link" (click)="hideMenu()">Начало</a>
                    </li>
                    <li class="nav-item dropdown stroke2 nav-elongate" (mouseover)="drop()" (mouseout)="dropOut()" [ngClass]="{'show':isShow}">
                        <a class="nav-link dropdown-toggle" routerLink="/shop" id="dropdown04" data-toggle="dropdown" aria-haspopup="true">Магазин</a>
                        <ul class="dropdown-menu multi-column columns-3 zindex-9" [ngClass]="{'show':isShow}">
                            <div class="row menu-large">
                                <div class="col-3-2">
                                    <ul class="multi-column-dropdown">
                                        <li *ngFor="let item of col0">
                                            <div *ngIf='item.flag === "m"' class="nav-category nav-category-bg1">{{item.name}}</div>
                                            <a *ngIf='item.flag === "s"' routerLink="shop" (click)="changeCategory({_id: item._id, id: item.id, name: item.name, imglink: item.imglink, imgBig: item.imgBig})">{{item.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-3-2">
                                    <ul class="multi-column-dropdown">
                                        <li *ngFor="let item of col1">
                                            <div *ngIf='item.flag === "m"' class="nav-category nav-category-bg1">
                                                {{item.name}}</div>
                                            <a *ngIf='item.flag === "s"' routerLink="shop" (click)="changeCategory({_id: 'item._id', id: item.id, name: 'item.name', imglink: 'item.imglink', imgBig: 'item.imgBig'})">{{item.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-3-2">
                                    <ul class="multi-column-dropdown">
                                        <li *ngFor="let item of col3">
                                            <div *ngIf='item.flag === "m"' class="nav-category nav-category-bg1">
                                                {{item.name}}</div>
                                            <a *ngIf='item.flag === "s"' routerLink="shop" (click)="changeCategory({_id: 'item._id', id: item.id, name: 'item.name', imglink: 'item.imglink', imgBig: 'item.imgBig'})">{{item.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item stroke3 nav-elongate"><a routerLink="about" class="nav-link">За Нас</a></li>
                    <li class="nav-item stroke4 nav-elongate"><a routerLink="contacts" class="nav-link">Контакти</a></li>
                </ul>
            </div>
            <div class="nav-cart cta cta-colored">
                <a routerLink="cart" class="nav-link"><span class="icon-shopping_cart"></span>[{{productsInBasket}}]</a>
            </div>
        </div>
    </div>
</nav>