<footer class="ftco-footer bg-light ftco-section ">
    <div class="footer-color ">
        <div class="container ">
            <div class="row ">
                <div class="mouse ">
                    <a href="# " class="mouse-icon ">
                        <div class="mouse-wheel "><span class="ion-ios-arrow-up "></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ">
                        <h2 class="ftco-heading-2 ">Зона Май</h2>
                        <p>Креативни, уникални и самоделни декорации и подаръци.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5 ">
                            <!-- -->
                            <li class=" ">
                                <a target="_blank " href="https://www.facebook.com/%D0%97%D0%BE%D0%BD%D0%B0-%D0%9C%D0%B0%D0%B9-441507525941541/ ">
                                    <span class="icon-facebook "></span>
                                </a>
                            </li>
                            <!-- -->
                            <li class=" ">
                                <a target="_blank " href="https://www.instagram.com/explore/tags/%D0%B7%D0%BE%D0%BD%D0%B0%D0%BC%D0%B0%D0%B9/ ">
                                    <span class="icon-instagram "></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5 ">
                        <h2 class="ftco-heading-2 ">Меню</h2>
                        <ul class="list-unstyled ">
                            <li><a routerLink="/shop" (click)="changeCategory()" class="py-2 d-block ">Магазин</a></li>
                            <li><a routerLink="/about" class="py-2 d-block ">За Нас</a></li>
                            <li><a routerLink="/contacts" class="py-2 d-block ">Контакти</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="ftco-footer-widget mb-4 ">
                        <h2 class="ftco-heading-2 ">Помощ</h2>
                        <div class="d-flex ">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4 ">
                                <li><a routerLink="/shipping" class="py-2 d-block ">Информация за Доставка</a></li>
                                <li><a routerLink="/returns" class="py-2 d-block ">Подмяна и връщане</a></li>
                                <li><a routerLink="/terms" class="py-2 d-block ">Условия на закупуване</a></li>
                                <li><a routerLink="/privacypolicy" class="py-2 d-block ">Поверителност</a></li>
                                <li><a routerLink="/faq" class="py-2 d-block ">Често задавани въпроси</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md ">
                    <div class="ftco-footer-widget mb-4 ">
                        <h2 class="ftco-heading-2 ">Свържете се с нас:</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li>
                                    <span class="icon icon-map-marker "></span>
                                    <span class="text ">ул. Мишо Тодоров №7, Сливен, България</span>
                                </li>
                                <li>
                                    <a href="tel:+359889785643 ">
                                        <span class="icon icon-phone "></span>
                                        <span class="text ">+359 88 978 5643</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:zonamai@abv.bg?subject=Здравейте! ">
                                        <span class="icon icon-envelope "></span>
                                        <span class="text ">zonamai@abv.bg</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright ©
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script> | Всички права запазени. - Зона Май | <a routerLink="/main" target="_blank ">zonamai.bg</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>