@media screen and (max-width: 768px) {
    .hero-wrap .slider-text .bread {
        font-size: 2em;
    }
    .billing-form label {
        font-size: 20px;
    }
    .billing-form .form-control {
        height: 40px !important;
    }
    .btn-buy {
        width: 300px;
        margin-left: 30%;
        margin-right: auto;
    }
}