<div class="hero-wrap hero-bread" style="background-image: url(assets/images/about-header1.jpg);">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2">ЗОНА МАЙ</span></p>
                <h1 class="mb-0 bread">За Нас</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center about-info-img" style="background-image: url(assets/images/about.jpg);">

            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 fadeInUp ftco-animated">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4-2">Ръчно изработени подаръци за Вас и близките Ви.</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>Кои сме ние? Креативни и упорити ентусиасти. Обичаме красотата в ежедненият спомени уникални моменти. Изработваме нестандартни бутикови декорации в които влагаме сърце и душа. Ние от Зона Май залагаме на различното и го правим част
                        от живота. Изненадайте приятелите и семейството си с уникални подаръци.</p>
                    <div class="row ftco-services" style="padding-top: 2vw;">
                        <div class="col-lg-4 text-center d-flex align-self-stretch fadeInUp ftco-animated">
                            <div class="media block-6 services">
                                <div class="icon d-flex justify-content-center align-items-center mb-4">
                                    <div class="icon-explain"><i class="material-icons md-36">brush</i></div>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading">Елегантна опаковка</h3>
                                    <p>Искаме преживяването Ви с нас да бъде винаги на ниво, затова се грижим подаръците Ви да са красиво опаковани.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center d-flex align-self-stretch fadeInUp ftco-animated">
                            <div class="media block-6 services">
                                <div class="icon d-flex justify-content-center align-items-center mb-4">
                                    <div class="icon-explain"><i class="material-icons md-36">grade</i></div>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading">Оптимално качество</h3>
                                    <p>Нашите продукти са ръчнно изработени с идеята да бъдат с Вас за дълго.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center d-flex align-self-stretch fadeInUp ftco-animated">
                            <div class="media block-6 services">
                                <div class="icon d-flex justify-content-center align-items-center mb-4">
                                    <div class="icon-explain"><i class="material-icons md-36">compare_arrows</i></div>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading">Политика за възстановяване</h3>
                                    <p>Ако има проблем с вашата пратка, винаги можете да се свържете с нас и тя да бъде подменена.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-counter img" id="section-counter">
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center counter-wrap fadeInUp ftco-animated">
                        <div class="block-18 text-center">
                            <div class="text">
                                <div class="number strong2" data-number="500">500</div>
                                <span>Артикула</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center counter-wrap fadeInUp ftco-animated">
                        <div class="block-18 text-center">
                            <div class="text">
                                <div class="number strong3" data-number="200">200</div>
                                <span>Щастливи клиенти</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-7 text-center heading-section">
                    <h2>Абонирайте се за нас:</h2>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-8">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="E-mail адрес.">
                                    <input type="submit" value="Абонирай ме!" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>