<div class="hero-wrap hero-bread" style="background-image: url(assets/images/contact-new.jpg);">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span>Свържете се с нас.</span></p>
                <h1 class="mb-0 bread">Контакти</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span class="address">Адрес:</span> <br>ул. Мишо Тодоров №7, <br> Сливен, България, 8800</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span class="address">Телефон:</span> <br><a href="tel:+359889785643">+359 88 978 5643</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span class="address">E-mail:</span> <br><a href="mailto:zonamai@abv.bg?subject=Здравейте!">zonamai@abv.bg</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span class="address">Онлайн Магазин:</span> <a href="http://zonemay.bg/">zonemay.bg</a></p>
                </div>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form action="https://colorlib.com/preview/theme/winkel/contact.html#" class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Вашето Име">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Тема">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Съобщение"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Изпрати" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>

            <div class="col-md-6 d-flex">
                <!--Google Maps Marker-->
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe class="google-map" id="gmap_canvas" src="https://maps.google.com/maps?q=%D1%83%D0%BB.%20%D0%9C%D0%B8%D1%88%D0%BE%20%D0%A2%D0%BE%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%20%E2%84%967%2C%20%D0%A1%D0%BB%D0%B8%D0%B2%D0%B5%D0%BD%2C%20%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&t=&z=15&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                    <!--Google Maps Marker End-->
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>