<div class="hero-wrap hero-bread" style="background-image: url(../../assets/images/checkout-header.jpg);">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span>Адрес за доставка.</span></p>
                <h1 class="mb-0 bread" style="font-size:  4.5vw">Потвърждаване на поръчката.</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 fadeInUp ftco-animated">
                <div class="billing-form">
                    <h3 class="mb-4 billing-heading-big">Вашата поръчка беше потвърдена успешно.</h3>
                    <h4 class="mb-4">Ще получите потвърждение на посочения E-mail. Детайли за клиента:</h4>
                </div>
                <div class="row align-items-end">
                    <div class="col-md-12">
                        <p style="text-align: center; color: #02988d; font-size: 1.2em; border-bottom: 1px solid #dfdfdf; padding-bottom: 30px">
                            Иван Петров <br> ул. Ръковска 24, гр. Сливен, България, 8800 <br> +359888588888 <br> ivan.petrov@abv.bg
                        </p>
                    </div>
                </div>

                <div class="row mt-5 pt-3 d-flex">
                    <div class="col-md-12 d-flex">
                        <div class="cart-detail cart-total bg-light p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Общо цена</h3>
                            <p class="d-flex">
                                <span>Продукти</span>
                                <span>20.60 лв.</span>
                            </p>
                            <p class="d-flex">
                                <span>Доставка</span>
                                <span>3.00 лв.</span>
                            </p>
                            <p class="d-flex">
                                <span>Отстъпка</span>
                                <span>0.00 лв.</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Общо</span>
                                <span>23.60 лв.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .col-md-8 -->
    </div>
</section>
<!-- .section -->