<section id="home-section" class="home-slider hero">
    <div class="container-slider">
        <app-carousel-holder></app-carousel-holder>
    </div>
</section>

<section class="ftco-section bg-light">
    <!--Category Ruchno Izraboteni-->
    <div class="container" id="category-1">
        <div class="row justify-content-center mb-3 pb-3">
            <!-- -->
            <div class="col-md-12 heading-section text-center animated" [class.bounceInUp]=isStartChange>
                <h2 class="mb-4">Продукти по категория</h2>
            </div>
        </div>
    </div>
    <!--@Angular section-->
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3" *ngFor="let category of categoryList">
            <div class="col-md-12 heading-section text-center">
                <p class="caveat-title">{{category.name}}</p>
                <div class="spacer-border  mb-4 pb-4"></div>
            </div>
            <div *ngFor="let subCategory of category.submenu; let i = index" class="category col-sm col-md-6 col-lg-3 wow fadeInUp" attr.data-wow-delay='{{i*0.2}}s'>
                <div class="product">
                    <a class="img-prod">
                        <img class="img-fluid" [src]="subCategory.imglink" alt="Кукли">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 px-3">
                        <h3>
                            <a routerLink="/shop" (click)="goToShop(subCategory)">{{subCategory.name}}</a>
                        </h3>
                        <p class="bottom-area d-flex px-3">
                            <a routerLink="/shop" (click)="goToShop(subCategory)" class="add-to-cart text-center py-2 mr-1">
                                <span>Виж всички<i class="ion-ios-add ml-1"></i></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- -->
            <!-- <div class="col-sm col-md-6 col-lg" data-wow-delay="0.2s">
                    <div class="product">
                        <a class="img-prod">
                            <img class="img-fluid" src="../../assets/product-img/category/b-doll.jpg" alt="Бутикови Кукли">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 px-3">
                            <h3>
                                <a routerLink="">Бутикови кукли</a>
                            </h3>
                            <p class="bottom-area d-flex px-3">
                                <a routerLink="/shop" (click)="goToShop({_id:'5e1b906d1608b66bc0e2f400',id:1,name:'Бутикови кукли'})" class="add-to-cart text-center py-2 mr-1">
                                    <span>Виж всички<i class="ion-ios-add ml-1"></i></span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div> -->
            <!-- -->
        </div>
    </div>
    <!--@Angular section-->
</section>

<section class="ftco-section bg-light ">
    <div class="container ">
        <div class="row justify-content-center mb-3 pb-3 ">
            <div class="col-md-12 heading-section text-center fadeInUp ftco-animated ">
                <h2 class="mb-4 ">Най-продавани</h2>
                <p>Разглейдайте продуктите които нашите клиенти обожават.</p>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row ">
            <div class="col-sm col-md-6 col-lg fadeInUp">
                <div class="product ">
                    <a href="# " class="img-prod "><img class="img-fluid " src="assets/product-img/product-1.jpg " alt="Снимка Продукт " style="transform: matrix(1, 0, 0, 1, 9.22628, 0); ">
                        <div class="overlay "></div>
                    </a>
                    <div class="text py-3 px-3 ">
                        <h3><a href="# ">Продукт Име</a></h3>
                        <div class="d-flex ">
                            <div class="pricing ">
                                <p class="price "><span>10.00 лв.</span></p>
                            </div>
                            <div class="rating ">
                                <p class="text-right ">
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                </p>
                            </div>
                        </div>
                        <p class="bottom-area d-flex px-3 ">
                            <a href="# " class="add-to-cart text-center py-2 mr-1 "><span>Виж продукт <i
                    class="ion-ios-add ml-1 "></i></span></a>
                            <a href="# " class="buy-now text-center py-2 ">Купи<span><i class="ion-ios-cart ml-1 "></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg fadeInUp" data-wow-delay="0.2s">
                <div class="product ">
                    <a href="# " class="img-prod "><img class="img-fluid " src="assets/product-img/product-2.jpg " alt="Снимка Продукт " style="transform: matrix(1, 0, 0, 1, 9.22628, 0); ">
                        <div class="overlay "></div>
                    </a>
                    <div class="text py-3 px-3 ">
                        <h3><a href="# ">Продукт Име</a></h3>
                        <div class="d-flex ">
                            <div class="pricing ">
                                <p class="price "><span>10.00 лв.</span></p>
                            </div>
                            <div class="rating ">
                                <p class="text-right ">
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                </p>
                            </div>
                        </div>
                        <p class="bottom-area d-flex px-3 ">
                            <a href="# " class="add-to-cart text-center py-2 mr-1 "><span>Виж продукт <i
                    class="ion-ios-add ml-1 "></i></span></a>
                            <a href="# " class="buy-now text-center py-2 ">Купи<span><i class="ion-ios-cart ml-1 "></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg fadeInUp" data-wow-delay="0.4s">
                <div class="product ">
                    <a href="# " class="img-prod "><img class="img-fluid " src="assets/product-img/product-3.jpg " alt="Снимка Продукт " style="transform: matrix(1, 0, 0, 1, 9.22628, 0); ">
                        <div class="overlay "></div>
                    </a>
                    <div class="text py-3 px-3 ">
                        <h3><a href="# ">Продукт Име</a></h3>
                        <div class="d-flex ">
                            <div class="pricing ">
                                <p class="price "><span>10.00 лв.</span></p>
                            </div>
                            <div class="rating ">
                                <p class="text-right ">
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                </p>
                            </div>
                        </div>
                        <p class="bottom-area d-flex px-3 ">
                            <a href="# " class="add-to-cart text-center py-2 mr-1 "><span>Виж продукт <i
                    class="ion-ios-add ml-1 "></i></span></a>
                            <a href="# " class="buy-now text-center py-2 ">Купи<span><i class="ion-ios-cart ml-1 "></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg fadeInUp" data-wow-delay="0.6s">
                <div class="product ">
                    <a href="# " class="img-prod "><img class="img-fluid " src="assets/product-img/product-4.jpg " alt="Снимка Продукт " style="transform: matrix(1, 0, 0, 1, 9.22628, 0); ">
                        <div class="overlay "></div>
                    </a>
                    <div class="text py-3 px-3 ">
                        <h3><a href="# ">Продукт Име</a></h3>
                        <div class="d-flex ">
                            <div class="pricing ">
                                <p class="price "><span>10.00 лв.</span></p>
                            </div>
                            <div class="rating ">
                                <p class="text-right ">
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                    <a href="# "><span class="ion-ios-star-outline "></span></a>
                                </p>
                            </div>
                        </div>
                        <p class="bottom-area d-flex px-3 ">
                            <a href="# " class="add-to-cart text-center py-2 mr-1 "><span>Виж продукт <i
                    class="ion-ios-add ml-1 "></i></span></a>
                            <a href="# " class="buy-now text-center py-2 ">Купи<span><i class="ion-ios-cart ml-1 "></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-8 d-flex align-items-stretch ">
                <div class="img " style="background-image: url(../../assets/images/about-1.jpg); "></div>
            </div>
            <!-- <div class="col-md-4 py-md-5 fadeInUp ftco-animated "> -->
            <div class="col-md-4 py-md-5 fadeInUp animated ">
                <div class="text py-3 py-md-5 ">
                    <h2 class="mb-4 ">Подаръци за Вас и близките Ви.</h2>
                    <p>Изберете подарък с високо качество и уникален вид от нашия магазин.</p>
                    <p><a href="shop.html " class="btn btn-white px-4 py-3 ">Виж продукти</a></p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-5 order-md-last d-flex align-items-stretch ">
                <div class="img img-2 " style="background-image: url(../../assets/images/about-2.jpg); "></div>
            </div>
            <!-- -->
            <div class="col-md-7 py-3 py-md-5 ">
                <div class="text text-2 py-md-5 ">
                    <h2 class="mb-4 ">Ръчно изработени.</h2>
                    <p>Нашите продукти са ръчно изработени от нашите работливи пчелички и ще изненадат близките Ви с елегантния си вид.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-8 d-flex align-items-stretch">
                <a href="sale.html">
                    <div class="sale"></div>
                </a>
            </div>
            <div class="col-md-4 py-md-5 fadeInUp animated">
                <div class="text3 py-3 py-md-5">
                    <h2 class="mb-4">Промоции</h2>
                    <p>Разгледайте промоциионалните ни продукти в момента</p>
                    <p><a href="sale.html" class="btn btn-blue px-4 py-3">Виж промоции</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">

            <div class="col-md-4 py-md-5-2 fadeInUp animated">
                <div class="text2 py-3 py-md-5-2">
                    <h2 class="mb-4">Ваучери</h2>
                    <p>Подарете ваучер за подарък на близки и приятели.</p>
                    <p><a href="sale.html" class="btn btn-blue px-4 py-3">Купи ваучер</a></p>
                </div>
            </div>
            <div class="col-md-8 d-flex align-items-stretch">
                <a href="giftcard.html">
                    <div class="gift"></div>
                </a>
            </div>
        </div>
    </div>
</section>

<!--Subsciption Form-->
<section class="ftco-section-parallax ">
    <div class="parallax-img d-flex align-items-center">
        <div class="container ">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-7 text-center heading-section">
                    <h2>Абонирайте се за нас:</h2>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-8 ">
                            <form action="# " class="subscribe-form">
                                <div class="form-group d-flex ">
                                    <input type="text " class="form-control " placeholder="E-mail адрес.">
                                    <input type="submit " value="Абонирай ме! " class="submit px-3 ">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Footer-->
<app-footer></app-footer>
<!--Footer End-->
<!-- loader -->
<!-- <div id="ftco-loader " class="fullscreen ">
    <svg class="circular " width="48px " height="48px ">      
        <circle class="path-bg " cx="24 " cy="24 " r="22 " fill="none " stroke-width="4 " stroke="#eeeeee "></circle>
        <circle class="path " cx="24 " cy="24 " r="22 " fill="none " stroke-width="4 " stroke-miterlimit="10 " stroke="#F96D00 "></circle>    
    </svg>
</div> -->