.x-50 {
    height: 150px;
}

.full-bg-img {
    background: linear-gradient(45deg, rgba(83, 125, 210, 1), rgba(178, 30, 123, 1) 100%);
}

.full-bg-img {
    height: 100%;
}

.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.md-form label {
    color: #333;
}

h6 {
    line-height: 1.7;
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1040px;
    }
}