<div class="row" *ngIf="selectedMenu">
    <h2>{{selectedMenu.name | uppercase}} Details</h2>
    <div>
        <span class="hidden">id: </span>
        <div class=hidden>{{selectedMenu._id}}</div>
        <div>
            <label>Главно Меню:
                <input [(ngModel)]="selectedMenu.name" placeholder="name" />
              </label>
        </div>
        <button (click)="save(selectedMenu._id)">Запази</button>
        <button (click)="goBack()">Откажи</button>
    </div>
</div>
<div class="sub" *ngIf='!showDetailedSubMenu'>
    <h3>Подменю</h3>
    <ul class="submenu">
        <li *ngFor="let sub of selectedMenu.submenu">
            <div class="subcontainer">
                <a (click)='editSubMenu()'>
                    <span class="badge">{{sub.id}}</span>
                    <span class="name">{{sub.name}}</span>
                </a>
                <button class="delete" title="delete subMenu" (click)="delete(sub.id)">x</button>
            </div>
            <img [src]="sub.imglink" alt="">
        </li>
    </ul>
    <div class='addsubmenu' *ngIf='showAddingSubMenu && !showDetailedSubMenu'>
        <div class="submenu">
            <label>Добави Подменю:
        <input class="form-control mb-4" #subName (keyup)="onKey($event)"/>
      </label>

        </div>
        <input type="file" (change)="fileChangeEvent($event)" (change)="fileChangeEvent($event)">
        <div *ngIf="showAddingSubMenu && !showDetailedSubMenu">
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1/1" [resizeToHeight]="409" [resizeToWidth]="400" format="png" (imageCropped)="imageCropped($event)">
            </image-cropper>
            <button class="btn btn-info" (click)="next()" [disabled]='isDisabled'>Напред ></button>
        </div>

        <!-- (click) passes input value to add() and then clears the input
        <button (click)="add(subName.value); subName.value=''">Добави</button> -->
    </div>
</div>
<div class='next' *ngIf="showAddingSubMenu">
    <div class="flow-vertical">
        <div class="flex-container">
            <h3>{{subMenu}}</h3>
        </div>
        <div class="flex-container">
            <img [src]="croppedImage" />
        </div>
    </div>
    <div class="flex-container">
        <button class="btn btn-info" (click)="back()">< Назад</button>
        <button class="btn btn-info" (click)="add(subMenu)">Запази подменюто</button>
    </div>
</div>
<app-submenu *ngIf="showDetailedSubMenu"></app-submenu>