<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark deep-purple darken-3 ie-nav" [containerInside]="false" *ngIf="currentUser">
    <mdb-navbar-brand>
        <i class="fa fa-bars mr-4 text-white" aria-hidden="true" onClick="openNav()"></i>
        <!-- <strong class="logo navbar-brand" href="#"><strong>Navbar</strong></a> -->
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="admin/home">Home <span class=" sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-item nav-link" routerLink="/admin/master" *ngIf="isAdmin">Admin</a>
            </li>
        </ul>
        <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">{{currentUser.name}} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" (click)="logout()">Logout <span class=" sr-only ">(current)</span></a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<div class="position-absolute w-100">
    <div class="float-right">
        <alert></alert>
    </div>
</div>
<router-outlet></router-outlet>