<div class="row x-50"></div>
<div class="container">
    <div class="row justify-content-center">
        <!--Intro Section-->
        <div class="col-md-5 col-xl-5">
            <!--Form-->

            <mdb-card class="wow fadeInDown" data-wow-delay="0.3s">
                <mdb-card-body class="full-bg-img z-depth-2">
                    <!--Header-->
                    <div class="text-center">
                        <h3 class="white-text">
                            <mdb-icon fas icon="user" class="text-white"></mdb-icon> Login
                        </h3>
                    </div>
                    <!--Body-->
                    <div class="md-form form-group">
                        <mdb-icon fas icon="user" class="text-white active"></mdb-icon>
                        <label for="username" class="text-white">Your username</label>
                        <input #username type="text" id="username" class="text-white form-control" mdbInput />
                    </div>
                    <div class="md-form form-group">
                        <mdb-icon fas icon="lock" class="text-white active"></mdb-icon>
                        <label for="password" class="text-white">Your password</label>
                        <input #password type="password" id="password" class="text-white form-control" mdbInput />
                        <a class="float-right text-white" href="#">I forgot my password</a>
                    </div>
                    <div class="text-center mt-5">
                        <button mdbBtn color="deep-purple" block="true" class="my-4" type="submit" mdbWavesEffect (click)="onSubmit(username.value, password.value)">Login</button>
                    </div>
                    <hr class="hr-light mb-3 mt-4" />
                    <div>
                        <a class="float-right text-white" href="admin/register">Sing Up</a>
                    </div>
                </mdb-card-body>
            </mdb-card>
            <!--/.Form-->
        </div>
    </div>
</div>