<div class="py-1 bg-black" id="top">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span>
                        </div> <span class="text"><a href="тел:+359 88 978 5643">+359 88 978 5643</a></span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div> <span class="text"> <a
                href="mailto:zonamai@abv.bg?subject=Здравейте!g">zonamai@abv.bg</a></span>
                    </div>
                    <div class="col-md-5 pr-4 d-flex topper-long align-items-center text-lg-right">
                        <span class="text">Доставка при наличност - 24 часа</span> <span class="text">При изработка - 10 раб.
              дни</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Nav-->
<!-- <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" scrolled awake[containerInside]="false">    <mdb-navbar-brand>        <a class="logo navbar-brand" href="#">            <img src="assets/images/logo.jpg" class="img-fluid flex-center" style="width: 100px; height: 54px;" />        </a>    </mdb-navbar-brand>    <links>        <ul class="navbar-nav mr-auto">            <li class="nav-item active waves-light" mdbWavesEffect>                <a class="nav-link">Home <span class="sr-only">(current)</span></a>            </li>            <li class="nav-item waves-light" mdbWavesEffect>                <a class="nav-link">Link</a>            </li>            <li class="nav-item waves-light" mdbWavesEffect>                <a class="nav-link">Profile</a>            </li>        </ul>    </links></mdb-navbar> -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo.jpg" class="img-fluid flex-center" style="width: 100px; height: 54px;" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Меню
    </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active stroke1 nav-elongate">
                    <a href="index.html" class="nav-link">Начало</a>
                </li>
                <li class="nav-item dropdown" id="desktrop-drop" (mouseover)="drop()" (mouseout)="dropOut()" [ngClass]="{'show':isShow}">
                    <a class="nav-link dropdown-toggle stroke2 nav-elongate" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="isShow">Магазин</a>
                    <ul class="dropdown-menu multi-column columns-3 zindex-9" [ngClass]="{'show':isShow}">
                        <div class="row" [innerHTML]="menuString">
                            <!-- HERE PUT MENU -->
                        </div>
                    </ul>
                </li>
                <li class="nav-item stroke3 nav-elongate"><a href="about.html" class="nav-link">За Нас</a></li>
                <li class="nav-item stroke4"><a href="contact.html" class="nav-link">Контакти</a></li>
                <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span
              class="icon-shopping_cart"></span>[0]</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="hero-wrap hero-bread" style="background-image: url(../assets/images/dolls-header.jpg);">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp ">
                <p class="breadcrumbs"><span>Продукти</span></p>
                <h1 class="mb-0 bread">Бутикови Кукли</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-10 order-md-last">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 fadeInUp animated" *ngFor="let product of products">
                        <div class="product">
                            <!-- https://app151-eu.s3.eu-central-1.amazonaws.com/{{product.imglink}} -->
                            <a href="#" class="img-prod">
                                <img class="img-fluid" src="{{product.imglink}}" alt="Снимка Продукт">
                                <span *ngIf="product.discount !== 0" class="status">{{(1-(product.discount / product.price))*100 | number:'2.0-0'}}%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 px-3">
                                <h3><a href="#">{{product.name }}</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price" *ngIf="product.discount !== 0">
                                            <span class="mr-2 price-dc">{{product.price | number:'1.2-2'}} лв.</span>
                                            <span class="price-sale">{{product.discount | number:'1.2-2'}} лв.</span>
                                        </p>
                                        <p class="price" *ngIf="product.discount === 0">
                                            <span>{{product.price | number:'1.2-2'}} лв.</span>
                                        </p>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right">
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        </p>
                                    </div>
                                </div>
                                <p class="bottom-area d-flex px-3">
                                    <a href="#" class="add-to-cart text-center py-2 mr-1">
                                        <span>Виж продукт 
                                            <i class="ion-ios-add ml-1"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="buy-now text-center py-2">Купи
                                        <span>
                                            <i class="ion-ios-cart ml-1"></i>
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4 col-lg-2 sidebar" [innerHTML]="rightMenu">

            </div>
            <!--  -->
        </div>
    </div>
</section>

<!--Footer-->
<footer class="ftco-footer bg-light ftco-section">
    <div class="footer-color">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a class="mouse-icon" (click)='moveUp()'>
                        <div class="mouse-wheel">
                            <span class="ion-ios-arrow-up"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Зона Май</h2>
                        <p>Креативни, уникални и самоделни декорации и подаръци.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">

                            <li class="ftco-animate fadeInUp ftco-animated"><a target="_blank" href="https://www.facebook.com/%D0%97%D0%BE%D0%BD%D0%B0-%D0%9C%D0%B0%D0%B9-441507525941541/"><span
                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a target="_blank" href="https://www.instagram.com/explore/tags/%D0%B7%D0%BE%D0%BD%D0%B0%D0%BC%D0%B0%D0%B9/"><span
                        class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Меню</h2>
                        <ul class="list-unstyled">
                            <li><a href="shop.html" class="py-2 d-block">Магазин</a></li>
                            <li><a href="about.html" class="py-2 d-block">За Нас</a></li>
                            <li><a href="contact.html" class="py-2 d-block">Контакти</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Помощ</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="shipping.html" class="py-2 d-block">Информация за Доставка</a></li>
                                <li><a href="returns.html" class="py-2 d-block">Подмяна и връщане</a></li>
                                <li><a href="terms.html" class="py-2 d-block">Условия на закупуване</a></li>
                                <li><a href="faq.html" class="py-2 d-block">Често задавани въпроси</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Контакти</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">ул. Мишо Тодоров №7, Сливен,
                        България</span></li>
                                <li><a href="tel:+359889785643"><span class="icon icon-phone"></span><span class="text">+359 88 978
                          5643</span></a></li>
                                <li><a href="mailto:zonamai@abv.bg?subject=Здравейте!"><span class="icon icon-envelope"></span><span
                          class="text">zonamai@abv.bg</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright ©
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script>2019 | Всички права запазени. - Зона Май | <a href="https://zonamai.bg/" target="_blank">zonamai.bg</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->