.loader {
    >img {
        width: 100px;
        background: white;
        background-color: white;
        margin: 60px auto;
        display: block;
    }
}

.noproducts {
    height: 3em;
    margin: 3em auto;
    font-family: madelyn;
    font-size: 60px;
    font-weight: 300;
}

@media (max-width: 991.98px) {
    .bg-light {
        margin-top: 0;
    }
}