<div class="hero-wrap hero-bread" style="background-image: url(../assets/images/dolls-header.jpg);">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center fadeInUp ">
                <p class="breadcrumbs"><span>Продукти</span></p>
                <h1 class="mb-0 bread">Бутикови Кукли</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-10 order-md-last">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 fadeInUp animated" *ngFor="let product of products">
                        <div class="product">
                            <a href="#" class="img-prod">
                                <img class="img-fluid" src="{{product.imglink}}" alt="Снимка Продукт">
                                <span *ngIf="product.discount !== 0" class="status">{{(1-(product.discount / product.price))*100 | number:'2.0-0'}}%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 px-3">
                                <h3><a href="#">{{product.name }}</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price" *ngIf="product.discount !== 0">
                                            <span class="mr-2 price-dc">{{product.price | number:'1.2-2'}} лв.</span>
                                            <span class="price-sale">{{product.discount | number:'1.2-2'}} лв.</span>
                                        </p>
                                        <p class="price" *ngIf="product.discount === 0">
                                            <span>{{product.price | number:'1.2-2'}} лв.</span>
                                        </p>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right">
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        </p>
                                    </div>
                                </div>
                                <p class="bottom-area d-flex px-3">
                                    <a href="#" class="add-to-cart text-center py-2 mr-1">
                                        <span>Виж продукт 
                                            <i class="ion-ios-add ml-1"></i>
                                        </span>
                                    </a>
                                    <a class="buy-now text-center py-2" (click)="buy(product)">Купи
                                        <span>
                                            <i class="ion-ios-cart ml-1"></i>
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4 col-lg-2 sidebar" [innerHTML]="rightMenu">

            </div>
            <!--  -->
        </div>
    </div>
</section>

<!--Footer-->
<footer class="ftco-footer bg-light ftco-section">
    <div class="footer-color">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a class="mouse-icon" (click)='moveUp()'>
                        <div class="mouse-wheel">
                            <span class="ion-ios-arrow-up"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Зона Май</h2>
                        <p>Креативни, уникални и самоделни декорации и подаръци.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">

                            <li class="ftco-animate fadeInUp ftco-animated"><a target="_blank" href="https://www.facebook.com/%D0%97%D0%BE%D0%BD%D0%B0-%D0%9C%D0%B0%D0%B9-441507525941541/"><span
                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a target="_blank" href="https://www.instagram.com/explore/tags/%D0%B7%D0%BE%D0%BD%D0%B0%D0%BC%D0%B0%D0%B9/"><span
                        class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Меню</h2>
                        <ul class="list-unstyled">
                            <li><a href="shop.html" class="py-2 d-block">Магазин</a></li>
                            <li><a href="about.html" class="py-2 d-block">За Нас</a></li>
                            <li><a href="contact.html" class="py-2 d-block">Контакти</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Помощ</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="shipping.html" class="py-2 d-block">Информация за Доставка</a></li>
                                <li><a href="returns.html" class="py-2 d-block">Подмяна и връщане</a></li>
                                <li><a href="terms.html" class="py-2 d-block">Условия на закупуване</a></li>
                                <li><a href="faq.html" class="py-2 d-block">Често задавани въпроси</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Контакти</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">ул. Мишо Тодоров №7, Сливен,
                        България</span></li>
                                <li><a href="tel:+359889785643"><span class="icon icon-phone"></span><span class="text">+359 88 978
                          5643</span></a></li>
                                <li><a href="mailto:zonamai@abv.bg?subject=Здравейте!"><span class="icon icon-envelope"></span><span
                          class="text">zonamai@abv.bg</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright ©
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script>2019 | Всички права запазени. - Зона Май | <a href="https://zonamai.bg/" target="_blank">zonamai.bg</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->