#content-desktop {
    display: block;
}

@media screen and (max-width: 768px) {
    #content-desktop {
        display: none !important;
    }
    .carousel-caption h3 {
        font-size: 1.6em;
        font-family: 'madelyn';
    }
}