<owl-carousel-o [options]="customOptions" #owlCat (changed)="getData($event)" (change)="clear()">
    <ng-container *ngFor="let image of imagesData; index as i">
        <ng-template carouselSlide>
            <div class="slide">
                <div class="carousel-item active white">
                    <div id="contain-parallax">
                        <img [src]="image.src" [alt]="image.alt" [title]="image.title" />
                        <div *ngIf="i == 0" class="slide-parallax one"></div>
                    </div>
                    <div class="carousel-caption d-md-block">
                        <div *ngIf="firstImageState">
                            <div class="animated bounceInLeft">
                                <h3 *ngIf="isStartChange">{{ image.content }}</h3>
                            </div>
                            <div class="animated bounceInUp delay-1s">
                                <a routerLink='/shop' (click)="changeCategory()">
                                    <button class="btn btn-primary btn-lg ">{{ image.menu }}</button>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="secondImageState">
                            <div class="animated bounceInUp">
                                <h3 *ngIf="isStartChange">{{ image.content }} </h3>
                            </div>
                            <div class="animated bounceInRight delay-1s">
                                <a [routerLink]="['/main']" [fragment]="'tema'" (click)="goToScrool()">
                                    <button class="btn btn-primary btn-lg"> {{ image.menu }} </button>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="thirdImageState">
                            <div class="animated flipInX slow">
                                <h3 *ngIf="isStartChange">{{ image.content }}</h3>
                            </div>
                            <div class="animated flipInY delay-1s slow">
                                <a routerLink='main'>
                                    <button class="btn btn-primary btn-lg">{{ image.menu }}</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>