.policy-info {
    color: #2e2e2e;
    text-align: left;
}

.policy-heading {
    font-size: 3em;
    margin-top: 2vw;
    font-family: 'madelynregular';
    font-weight: 500;
    color: #00726f;
}

.policy-subheading {
    color: #007466;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 500;
}

.policy-ul {
    list-style-type: square;
    color: #808080;
}